.page {
  width: 1100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 92px 24px 96px 24px;
}

.cover {
  padding: 165px 50px 50px 50px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
}

.lots {
  padding: 179px 24px 146px 24px;
  display: flex;
  flex-wrap: wrap;
}

.about {
  padding: 0 24px 180px 24px;
}

.footer {
  padding: 0 50px 88px 50px;
  display: flex;
  justify-content: space-between;
}

.header_menu {
  display: flex;
  align-items: center;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  list-style-type: circle;
  align-self: start;
  column-gap: 34px;
  padding: 44px 36px 40px 27px;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle outside;
}

.header__links-list-item_no-bullit {
  font-size: 18px;
  line-height: 21.13px;
  list-style: none;
}

.header__logo {
  display:flex;
  width: 148px;
  height: 105px;
  justify-content: center;
  align-items: center;
  margin-right: 185px;
}

.header__logo-image {
  margin: 1.16px 9.86px 0.81px 9.03px; 
  width: 148px;
  height: 105px;
}

.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
}

.cover__title {
  display: flex;
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: white;
  line-height: 115px;
  height: 355px;
  width: 1000px;
  letter-spacing: 30px;
  max-width: 100%;
  column-gap: 20px;
  flex-direction: column;
  row-gap: 20px;
}

.aligned-text_space {
  letter-spacing: 60px;
}  

.aligned-text {
  display: flex;
  width: 316px;
  height: 115px;
  z-index: 2;
}

.aligned-text_center {
  line-height: 100px;
  width: 369px;
  display: flex;
  height: 100px;
  z-index: 2;
  align-items: center;
  align-self: center;
  margin-right: 90px;
}

.aligned-text_right {
  line-height: 100px;
  max-width: 100%;
  height: 100px;
  z-index: 2;
  align-items: end;
  align-self: end;
  margin-left: 583px;
}

.cover__description {
  display: flex;
  color: white;
  font-weight: 400;
  width: 1100px;
  text-transform: uppercase;
  justify-content: end;
  align-items: end;
  align-self: end;
  z-index: 2;
}

.cover__description-text {
  width: 637px;
  height: 28px;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  align-self: center;
  z-index: 2;
  max-width: 100%;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-left: 79px;
  border: solid 1px white;
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  color: white;
  align-self: center;
  z-index: 2;
}

.lots__heading {
  width: 121px;
  height: 47px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-right: 891px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 27px;
  flex-grow: 1;
  column-gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: white;
  width: 254px;
  height: 464px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.cards_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  background-size: cover;
  width: 334px;
  height: 563px;
  position: absolute;
  z-index: 1;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  display: flex;
  align-items: center;
  z-index: 2;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.lots__look-more-link {
  width: 192px;
  height: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
  margin-top: 30px;
  text-underline-offset: 5px;
}

.about__column {
  display: grid;
  grid-template-columns: 359px 693px;
  grid-template-rows: 283px 120px 192px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  place-content: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 46.48px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 136px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: end;
}

.footer__menu {
  display: flex;
  text-align: center;
  text-underline-offset: 5px;
  align-self: start;
  margin-top: 1px;
  margin-left: 34px;
}

.footer__menu-list {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.footer__social-list {
  align-self: start;
  list-style-type: none;
  display: flex;
  width: 240px;
  height: 48px;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}